---
import { Picture } from 'astro:assets'
import Layout from '../../layouts/Layout.astro'
import PageHeader from '../../components/text/PageHeader.astro'
import { albumData } from '../discography.astro'

export async function getStaticPaths() {
  const paths = albumData.map((album) => {
    return { params: { slug: album.slug } }
  })

  return paths
}

const { slug } = Astro.params

// Find album by slug
const album = albumData.find((album) => album.slug === slug)

// Destructure album data
const { record, image, artist, type, credits, label, musicLinks } = album || {}
---

<Layout title="Robby Webb | Discography">
  <main class="main-content">
    <PageHeader text={`${record}`} />
    <div class="album">
      <Picture src={image!} title={`${artist}: ${record}`} alt={`${artist}: ${record}`} />
      <div class="album-info">
        <h2>{artist}</h2>
        <p>"{record}" {type}</p>
        <p>{credits} by Robby Webb</p>
        <p>{`Label: ${label}`}</p>
        <div class="album-info_links">
          {
            musicLinks?.map((link) => (
              <a class="site-cta" href={link.link} target="_blank" rel="noopener noreferrer">
                {link.type}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-section);
    max-width: 1200px;
    margin: 0 auto;
  }

  .album-info h2 {
    margin-bottom: 2rem;
  }

  .album-info p:last-of-type {
    margin-bottom: clamp(1.5rem, 4vw, 2rem);
  }

  .album-info_links {
    display: flex;
    gap: 0.5rem;
  }
</style>
